<mat-card>
  <mat-card-header
    ><mat-card-title>Widgets List</mat-card-title></mat-card-header
  >
  <mat-card-content
    ><mat-list role="list">
      @for (widget of widgets$ | async; track $index) {
      <mat-list-item role="listitem"
        ><div class="list-item">
          {{ widget.title }}
          <button
            mat-icon-button
            color="primary"
            class="edit-icon"
            aria-label="icon button with a edit icon"
            (click)="onUpdate(widget)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            class="delete-icon"
            aria-label="icon button with a delete icon"
            (click)="onDelete(widget.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
